html, body {
	height:100vh;
	width:100vw;
	margin:0;
	padding:0;
}
body {
	display:grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px auto 50px;
	grid-gap: 1px 1px;
}
ul, li {
	display: inline-grid;
	grid-auto-flow: column;
	align-self: center;
	list-style-type: none;
	margin: 0;
	padding: 10px;
}
.left {
	float: left;
}
.right {
	float: right;
}
header {
	align-self:start;
}
footer {
	align-self:end;
}
main  {
	place-self: center;
	transform: translate(0px, -50px);
}
#logo {
}
.searchbar {
}


#search {
	width: 100% !important;
	height: 20px;
}

#voice {
	position: relative;
	float: right;
	top: -23px;
	height: 20px;

}
.buttons {
	display: inline-block;
}

